**/**
__test__
bechmark
example
coverage
dist
esm
node_modules
.coveralls.yml
.dockerignore
.editorconfig
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
.travis.yml
config.ts
Dockerfile
jest.config.js
Makefile
tsconfig.json
package-lock.json
LICENSE.md
CONTRIBUTING.md
src/utils/util.http.ts
src/utils/util.deserialize.ts
src/utils/util.serialize.ts
